@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap";
@import "variables.css";


body {
    font-family: 'Inter', serif;
    background: #F3F4F9;
}

h5 {
    font-size: 14px;
    line-height: 24px;
}

h6, .list-group-item, .form-control {
    font-size: 12px;
    line-height: 16px;
}